
  .button-icon {
    width: 50px;
    height: 50px;
    border: 1px solid #cdcdcd;
    background: white;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    transition: width 0.2s ease-in-out;
  }
  .add-button:hover {
    width: 120px;
  }
  .add-button::before,
  .add-button::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: red;
  }
  .add-button::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .add-button::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .button-icon:focus {
    outline: none;
  }
  .button-text {
    opacity: 0;
    transition: opacity 0.2s;
  }
  .add-button:hover::before,
  .add-button:hover::after {
    width: 4px;
    border-radius: 2px;
  }
  .add-button:hover .button-text {
    opacity: 1;
  }
  .icon-add::after,
  .icon-add::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: red;
    overflow: hidden;
  }
  .icon-add::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
  .icon-add::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .add-button:hover .icon-add::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  .add-button:hover .icon-add::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
  }
  